// Monstar Template
// Scalable and Maintainable Architecture.
//
// Author:   JackRO & Monstar Lab Cebu
// Website:  https://monstar-template.ml
// URL:      https://github.com/jackryanoracoy/monstar-template
// License:  https://github.com/jackryanoracoy/monstar-template/blob/master/LICENSE.txt

/*--------------------------------------------------
  Article
--------------------------------------------------*/

.article {
  padding-top: ($section-gutter-ver / 2);

  &.has-padding-wide { padding-top: $section-gutter-ver; }
  &.has-padding-narrow { padding-top: ($section-gutter-ver / 4); }
  &.has-padding-no { padding: 0 !important; }

  @include media-breakpoint-min(lg) {
    padding-top: $section-gutter-ver;

    &.has-padding-wide { padding-top: ($section-gutter-ver * 2); }
    &.has-padding-narrow { padding-top: ($section-gutter-ver / 2); }
  }

  @media print { page-break-inside: avoid; }
}


