// Monstar Template
// Scalable and Maintainable Architecture.
//
// Author:   JackRO & Monstar Lab Cebu
// Website:  https://monstar-template.ml
// URL:      https://github.com/jackryanoracoy/monstar-template
// License:  https://github.com/jackryanoracoy/monstar-template/blob/master/LICENSE.txt

/*--------------------------------------------------
  Float
--------------------------------------------------*/

.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none; }
