// Monstar Template
// Scalable and Maintainable Architecture.
//
// Author:   Monstar Lab Cebu
// Website:  http://freemight.com/
// URL:      https://github.com/jackryanoracoy/monstar-template
// License:  https://github.com/jackryanoracoy/monstar-template/blob/master/LICENSE.txt

/*--------------------------------------------------
  Browser Notice
--------------------------------------------------*/

.browser-notice {
  padding: 20px;
  color: $white;
  text-align: center;
  background-color: $danger;
}
