// Monstar Template
// Scalable and Maintainable Architecture.
//
// Author:   Monstar Lab Cebu
// Website:  http://freemight.com/
// URL:      https://github.com/jackryanoracoy/monstar-template
// License:  https://github.com/jackryanoracoy/monstar-template/blob/master/LICENSE.txt

/*--------------------------------------------------
  Site Branding
--------------------------------------------------*/

.site-branding {
  display: flex;
  align-items: center;
  height: $header-height_m;
  font-size: $font-xl;
  white-space: nowrap;

  &-logo {
    display: block;
    width: auto !important;
    max-width: 100%;
    max-height: calc(100% - 20px);
  }

  &-title {
    padding-left: 10px;
    color: $white !important;
    font-size: inherit;
    text-decoration: none !important;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include media-breakpoint-min(lg) {
    height: $header-height;
    font-size: $font-sl;
  }
}

