/*!
 * Name:        Monstar Template
 * Author:      JACKRO (Jack Ryan Oracoy)
 * Author URI:  https://jackryanoracoy.github.io
 * Email:       jackryanoracoy@gmail.com
 * Description: A Scalable and Maintainable Architecture
 * License:     The MIT License
 * License URI: https://github.com/jackryanoracoy/monstar-template/blob/master/LICENSE.txt
 */
/*--------------------------------------------------
  Screen readers only
--------------------------------------------------*/
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.sr-only.is-focusable:active, .sr-only.is-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal !important;
}

/*--------------------------------------------------
  Clearfix
--------------------------------------------------*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*--------------------------------------------------
  Disyplay
--------------------------------------------------*/
.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/*--------------------------------------------------
  Hidden
--------------------------------------------------*/
.hidden {
  display: none;
  visibility: hidden;
}

@media (min-width: 410px) {
  .hidden-xs-min {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 576px) {
  .hidden-sm-min {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .hidden-md-min {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  .hidden-lg-min {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-min {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 409px) {
  .hidden-xs-max {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 575px) {
  .hidden-sm-max {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 767px) {
  .hidden-md-max {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 991px) {
  .hidden-lg-max {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 1199px) {
  .hidden-xl-max {
    display: none;
    visibility: hidden;
  }
}

/*--------------------------------------------------
  Float
--------------------------------------------------*/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

/*--------------------------------------------------
  Width and Height
--------------------------------------------------*/
.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.max-width-100 {
  max-width: 100%;
}

.viewport-width-100 {
  width: 100vw;
}

.height-25 {
  height: 25%;
}

.height-50 {
  height: 50%;
}

.height-75 {
  height: 75%;
}

.height-100 {
  height: 100%;
}

.max-height-100 {
  max-height: 100%;
}

.viewport-height-100 {
  height: 100vh;
}

/*--------------------------------------------------
  Padding
--------------------------------------------------*/
.pat-5 {
  padding-top: 5px;
}

.pat-10 {
  padding-top: 10px;
}

.pat-20 {
  padding-top: 20px;
}

.pat-30 {
  padding-top: 30px;
}

.pat-40 {
  padding-top: 40px;
}

.pat-50 {
  padding-top: 50px;
}

.pat-60 {
  padding-top: 60px;
}

.pat-70 {
  padding-top: 70px;
}

.pat-80 {
  padding-top: 80px;
}

.pat-90 {
  padding-top: 90px;
}

.pat-100 {
  padding-top: 100px;
}

.pab-5 {
  padding-bottom: 5px;
}

.pab-10 {
  padding-bottom: 10px;
}

.pab-20 {
  padding-bottom: 20px;
}

.pab-30 {
  padding-bottom: 30px;
}

.pab-40 {
  padding-bottom: 40px;
}

.pab-50 {
  padding-bottom: 50px;
}

.pab-60 {
  padding-bottom: 60px;
}

.pab-70 {
  padding-bottom: 70px;
}

.pab-80 {
  padding-bottom: 80px;
}

.pab-90 {
  padding-bottom: 90px;
}

.pab-100 {
  padding-bottom: 100px;
}

@media (min-width: 410px) {
  .pat-xs-0 {
    padding-top: 0;
  }
  .pat-xs-5 {
    padding-top: 5px;
  }
  .pat-xs-10 {
    padding-top: 10px;
  }
  .pat-xs-20 {
    padding-top: 20px;
  }
  .pat-xs-30 {
    padding-top: 30px;
  }
  .pat-xs-40 {
    padding-top: 40px;
  }
  .pat-xs-50 {
    padding-top: 50px;
  }
  .pat-xs-60 {
    padding-top: 60px;
  }
  .pat-xs-70 {
    padding-top: 70px;
  }
  .pat-xs-80 {
    padding-top: 80px;
  }
  .pat-xs-90 {
    padding-top: 90px;
  }
  .pat-xs-100 {
    padding-top: 100px;
  }
  .pab-xs-0 {
    padding-bottom: 0;
  }
  .pab-xs-5 {
    padding-bottom: 5px;
  }
  .pab-xs-10 {
    padding-bottom: 10px;
  }
  .pab-xs-20 {
    padding-bottom: 20px;
  }
  .pab-xs-30 {
    padding-bottom: 30px;
  }
  .pab-xs-40 {
    padding-bottom: 40px;
  }
  .pab-xs-50 {
    padding-bottom: 50px;
  }
  .pab-xs-60 {
    padding-bottom: 60px;
  }
  .pab-xs-70 {
    padding-bottom: 70px;
  }
  .pab-xs-80 {
    padding-bottom: 80px;
  }
  .pab-xs-90 {
    padding-bottom: 90px;
  }
  .pab-xs-100 {
    padding-bottom: 100px;
  }
}

@media (min-width: 576px) {
  .pat-sm-0 {
    padding-top: 0;
  }
  .pat-sm-5 {
    padding-top: 5px;
  }
  .pat-sm-10 {
    padding-top: 10px;
  }
  .pat-sm-20 {
    padding-top: 20px;
  }
  .pat-sm-30 {
    padding-top: 30px;
  }
  .pat-sm-40 {
    padding-top: 40px;
  }
  .pat-sm-50 {
    padding-top: 50px;
  }
  .pat-sm-60 {
    padding-top: 60px;
  }
  .pat-sm-70 {
    padding-top: 70px;
  }
  .pat-sm-80 {
    padding-top: 80px;
  }
  .pat-sm-90 {
    padding-top: 90px;
  }
  .pat-sm-100 {
    padding-top: 100px;
  }
  .pab-sm-0 {
    padding-bottom: 0;
  }
  .pab-sm-5 {
    padding-bottom: 5px;
  }
  .pab-sm-10 {
    padding-bottom: 10px;
  }
  .pab-sm-20 {
    padding-bottom: 20px;
  }
  .pab-sm-30 {
    padding-bottom: 30px;
  }
  .pab-sm-40 {
    padding-bottom: 40px;
  }
  .pab-sm-50 {
    padding-bottom: 50px;
  }
  .pab-sm-60 {
    padding-bottom: 60px;
  }
  .pab-sm-70 {
    padding-bottom: 70px;
  }
  .pab-sm-80 {
    padding-bottom: 80px;
  }
  .pab-sm-90 {
    padding-bottom: 90px;
  }
  .pab-sm-100 {
    padding-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .pat-md-0 {
    padding-top: 0;
  }
  .pat-md-5 {
    padding-top: 5px;
  }
  .pat-md-10 {
    padding-top: 10px;
  }
  .pat-md-20 {
    padding-top: 20px;
  }
  .pat-md-30 {
    padding-top: 30px;
  }
  .pat-md-40 {
    padding-top: 40px;
  }
  .pat-md-50 {
    padding-top: 50px;
  }
  .pat-md-60 {
    padding-top: 60px;
  }
  .pat-md-70 {
    padding-top: 70px;
  }
  .pat-md-80 {
    padding-top: 80px;
  }
  .pat-md-90 {
    padding-top: 90px;
  }
  .pat-md-100 {
    padding-top: 100px;
  }
  .pab-md-0 {
    padding-bottom: 0;
  }
  .pab-md-5 {
    padding-bottom: 5px;
  }
  .pab-md-10 {
    padding-bottom: 10px;
  }
  .pab-md-20 {
    padding-bottom: 20px;
  }
  .pab-md-30 {
    padding-bottom: 30px;
  }
  .pab-md-40 {
    padding-bottom: 40px;
  }
  .pab-md-50 {
    padding-bottom: 50px;
  }
  .pab-md-60 {
    padding-bottom: 60px;
  }
  .pab-md-70 {
    padding-bottom: 70px;
  }
  .pab-md-80 {
    padding-bottom: 80px;
  }
  .pab-md-90 {
    padding-bottom: 90px;
  }
  .pab-md-100 {
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) {
  .pat-lg-0 {
    padding-top: 0;
  }
  .pat-lg-5 {
    padding-top: 5px;
  }
  .pat-lg-10 {
    padding-top: 10px;
  }
  .pat-lg-20 {
    padding-top: 20px;
  }
  .pat-lg-30 {
    padding-top: 30px;
  }
  .pat-lg-40 {
    padding-top: 40px;
  }
  .pat-lg-50 {
    padding-top: 50px;
  }
  .pat-lg-60 {
    padding-top: 60px;
  }
  .pat-lg-70 {
    padding-top: 70px;
  }
  .pat-lg-80 {
    padding-top: 80px;
  }
  .pat-lg-90 {
    padding-top: 90px;
  }
  .pat-lg-100 {
    padding-top: 100px;
  }
  .pab-lg-0 {
    padding-bottom: 0;
  }
  .pab-lg-5 {
    padding-bottom: 5px;
  }
  .pab-lg-10 {
    padding-bottom: 10px;
  }
  .pab-lg-20 {
    padding-bottom: 20px;
  }
  .pab-lg-30 {
    padding-bottom: 30px;
  }
  .pab-lg-40 {
    padding-bottom: 40px;
  }
  .pab-lg-50 {
    padding-bottom: 50px;
  }
  .pab-lg-60 {
    padding-bottom: 60px;
  }
  .pab-lg-70 {
    padding-bottom: 70px;
  }
  .pab-lg-80 {
    padding-bottom: 80px;
  }
  .pab-lg-90 {
    padding-bottom: 90px;
  }
  .pab-lg-100 {
    padding-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .pat-xl-0 {
    padding-top: 0;
  }
  .pat-xl-5 {
    padding-top: 5px;
  }
  .pat-xl-10 {
    padding-top: 10px;
  }
  .pat-xl-20 {
    padding-top: 20px;
  }
  .pat-xl-30 {
    padding-top: 30px;
  }
  .pat-xl-40 {
    padding-top: 40px;
  }
  .pat-xl-50 {
    padding-top: 50px;
  }
  .pat-xl-60 {
    padding-top: 60px;
  }
  .pat-xl-70 {
    padding-top: 70px;
  }
  .pat-xl-80 {
    padding-top: 80px;
  }
  .pat-xl-90 {
    padding-top: 90px;
  }
  .pat-xl-100 {
    padding-top: 100px;
  }
  .pab-xl-0 {
    padding-bottom: 0;
  }
  .pab-xl-5 {
    padding-bottom: 5px;
  }
  .pab-xl-10 {
    padding-bottom: 10px;
  }
  .pab-xl-20 {
    padding-bottom: 20px;
  }
  .pab-xl-30 {
    padding-bottom: 30px;
  }
  .pab-xl-40 {
    padding-bottom: 40px;
  }
  .pab-xl-50 {
    padding-bottom: 50px;
  }
  .pab-xl-60 {
    padding-bottom: 60px;
  }
  .pab-xl-70 {
    padding-bottom: 70px;
  }
  .pab-xl-80 {
    padding-bottom: 80px;
  }
  .pab-xl-90 {
    padding-bottom: 90px;
  }
  .pab-xl-100 {
    padding-bottom: 100px;
  }
}

/*--------------------------------------------------
  Margin
--------------------------------------------------*/
.mat-5 {
  margin-top: 5px;
}

.mat-10 {
  margin-top: 10px;
}

.mat-20 {
  margin-top: 20px;
}

.mat-30 {
  margin-top: 30px;
}

.mat-40 {
  margin-top: 40px;
}

.mat-50 {
  margin-top: 50px;
}

.mat-60 {
  margin-top: 60px;
}

.mat-70 {
  margin-top: 70px;
}

.mat-80 {
  margin-top: 80px;
}

.mat-90 {
  margin-top: 90px;
}

.mat-100 {
  margin-top: 100px;
}

.mab-5 {
  margin-bottom: 5px;
}

.mab-10 {
  margin-bottom: 10px;
}

.mab-20 {
  margin-bottom: 20px;
}

.mab-30 {
  margin-bottom: 30px;
}

.mab-40 {
  margin-bottom: 40px;
}

.mab-50 {
  margin-bottom: 50px;
}

.mab-60 {
  margin-bottom: 60px;
}

.mab-70 {
  margin-bottom: 70px;
}

.mab-80 {
  margin-bottom: 80px;
}

.mab-90 {
  margin-bottom: 90px;
}

.mab-100 {
  margin-bottom: 100px;
}

@media (min-width: 410px) {
  .mat-xs-0 {
    margin-top: 0;
  }
  .mat-xs-5 {
    margin-top: 5px;
  }
  .mat-xs-10 {
    margin-top: 10px;
  }
  .mat-xs-20 {
    margin-top: 20px;
  }
  .mat-xs-30 {
    margin-top: 30px;
  }
  .mat-xs-40 {
    margin-top: 40px;
  }
  .mat-xs-50 {
    margin-top: 50px;
  }
  .mat-xs-60 {
    margin-top: 60px;
  }
  .mat-xs-70 {
    margin-top: 70px;
  }
  .mat-xs-80 {
    margin-top: 80px;
  }
  .mat-xs-90 {
    margin-top: 90px;
  }
  .mat-xs-100 {
    margin-top: 100px;
  }
  .mab-xs-0 {
    margin-bottom: 0;
  }
  .mab-xs-5 {
    margin-bottom: 5px;
  }
  .mab-xs-10 {
    margin-bottom: 10px;
  }
  .mab-xs-20 {
    margin-bottom: 20px;
  }
  .mab-xs-30 {
    margin-bottom: 30px;
  }
  .mab-xs-40 {
    margin-bottom: 40px;
  }
  .mab-xs-50 {
    margin-bottom: 50px;
  }
  .mab-xs-60 {
    margin-bottom: 60px;
  }
  .mab-xs-70 {
    margin-bottom: 70px;
  }
  .mab-xs-80 {
    margin-bottom: 80px;
  }
  .mab-xs-90 {
    margin-bottom: 90px;
  }
  .mab-xs-100 {
    margin-bottom: 100px;
  }
}

@media (min-width: 576px) {
  .mat-sm-0 {
    margin-top: 0;
  }
  .mat-sm-5 {
    margin-top: 5px;
  }
  .mat-sm-10 {
    margin-top: 10px;
  }
  .mat-sm-20 {
    margin-top: 20px;
  }
  .mat-sm-30 {
    margin-top: 30px;
  }
  .mat-sm-40 {
    margin-top: 40px;
  }
  .mat-sm-50 {
    margin-top: 50px;
  }
  .mat-sm-60 {
    margin-top: 60px;
  }
  .mat-sm-70 {
    margin-top: 70px;
  }
  .mat-sm-80 {
    margin-top: 80px;
  }
  .mat-sm-90 {
    margin-top: 90px;
  }
  .mat-sm-100 {
    margin-top: 100px;
  }
  .mab-sm-0 {
    margin-bottom: 0;
  }
  .mab-sm-5 {
    margin-bottom: 5px;
  }
  .mab-sm-10 {
    margin-bottom: 10px;
  }
  .mab-sm-20 {
    margin-bottom: 20px;
  }
  .mab-sm-30 {
    margin-bottom: 30px;
  }
  .mab-sm-40 {
    margin-bottom: 40px;
  }
  .mab-sm-50 {
    margin-bottom: 50px;
  }
  .mab-sm-60 {
    margin-bottom: 60px;
  }
  .mab-sm-70 {
    margin-bottom: 70px;
  }
  .mab-sm-80 {
    margin-bottom: 80px;
  }
  .mab-sm-90 {
    margin-bottom: 90px;
  }
  .mab-sm-100 {
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .mat-md-0 {
    margin-top: 0;
  }
  .mat-md-5 {
    margin-top: 5px;
  }
  .mat-md-10 {
    margin-top: 10px;
  }
  .mat-md-20 {
    margin-top: 20px;
  }
  .mat-md-30 {
    margin-top: 30px;
  }
  .mat-md-40 {
    margin-top: 40px;
  }
  .mat-md-50 {
    margin-top: 50px;
  }
  .mat-md-60 {
    margin-top: 60px;
  }
  .mat-md-70 {
    margin-top: 70px;
  }
  .mat-md-80 {
    margin-top: 80px;
  }
  .mat-md-90 {
    margin-top: 90px;
  }
  .mat-md-100 {
    margin-top: 100px;
  }
  .mab-md-0 {
    margin-bottom: 0;
  }
  .mab-md-5 {
    margin-bottom: 5px;
  }
  .mab-md-10 {
    margin-bottom: 10px;
  }
  .mab-md-20 {
    margin-bottom: 20px;
  }
  .mab-md-30 {
    margin-bottom: 30px;
  }
  .mab-md-40 {
    margin-bottom: 40px;
  }
  .mab-md-50 {
    margin-bottom: 50px;
  }
  .mab-md-60 {
    margin-bottom: 60px;
  }
  .mab-md-70 {
    margin-bottom: 70px;
  }
  .mab-md-80 {
    margin-bottom: 80px;
  }
  .mab-md-90 {
    margin-bottom: 90px;
  }
  .mab-md-100 {
    margin-bottom: 100px;
  }
}

@media (min-width: 992px) {
  .mat-lg-0 {
    margin-top: 0;
  }
  .mat-lg-5 {
    margin-top: 5px;
  }
  .mat-lg-10 {
    margin-top: 10px;
  }
  .mat-lg-20 {
    margin-top: 20px;
  }
  .mat-lg-30 {
    margin-top: 30px;
  }
  .mat-lg-40 {
    margin-top: 40px;
  }
  .mat-lg-50 {
    margin-top: 50px;
  }
  .mat-lg-60 {
    margin-top: 60px;
  }
  .mat-lg-70 {
    margin-top: 70px;
  }
  .mat-lg-80 {
    margin-top: 80px;
  }
  .mat-lg-90 {
    margin-top: 90px;
  }
  .mat-lg-100 {
    margin-top: 100px;
  }
  .mab-lg-0 {
    margin-bottom: 0;
  }
  .mab-lg-5 {
    margin-bottom: 5px;
  }
  .mab-lg-10 {
    margin-bottom: 10px;
  }
  .mab-lg-20 {
    margin-bottom: 20px;
  }
  .mab-lg-30 {
    margin-bottom: 30px;
  }
  .mab-lg-40 {
    margin-bottom: 40px;
  }
  .mab-lg-50 {
    margin-bottom: 50px;
  }
  .mab-lg-60 {
    margin-bottom: 60px;
  }
  .mab-lg-70 {
    margin-bottom: 70px;
  }
  .mab-lg-80 {
    margin-bottom: 80px;
  }
  .mab-lg-90 {
    margin-bottom: 90px;
  }
  .mab-lg-100 {
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .mat-xl-0 {
    margin-top: 0;
  }
  .mat-xl-5 {
    margin-top: 5px;
  }
  .mat-xl-10 {
    margin-top: 10px;
  }
  .mat-xl-20 {
    margin-top: 20px;
  }
  .mat-xl-30 {
    margin-top: 30px;
  }
  .mat-xl-40 {
    margin-top: 40px;
  }
  .mat-xl-50 {
    margin-top: 50px;
  }
  .mat-xl-60 {
    margin-top: 60px;
  }
  .mat-xl-70 {
    margin-top: 70px;
  }
  .mat-xl-80 {
    margin-top: 80px;
  }
  .mat-xl-90 {
    margin-top: 90px;
  }
  .mat-xl-100 {
    margin-top: 100px;
  }
  .mab-xl-0 {
    margin-bottom: 0;
  }
  .mab-xl-5 {
    margin-bottom: 5px;
  }
  .mab-xl-10 {
    margin-bottom: 10px;
  }
  .mab-xl-20 {
    margin-bottom: 20px;
  }
  .mab-xl-30 {
    margin-bottom: 30px;
  }
  .mab-xl-40 {
    margin-bottom: 40px;
  }
  .mab-xl-50 {
    margin-bottom: 50px;
  }
  .mab-xl-60 {
    margin-bottom: 60px;
  }
  .mab-xl-70 {
    margin-bottom: 70px;
  }
  .mab-xl-80 {
    margin-bottom: 80px;
  }
  .mab-xl-90 {
    margin-bottom: 90px;
  }
  .mab-xl-100 {
    margin-bottom: 100px;
  }
}

/*--------------------------------------------------
  Typography
--------------------------------------------------*/
.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-overline {
  text-decoration: overline;
}

.text-underline {
  text-decoration: underline;
}

.text-linethrough {
  text-decoration: line-through;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.font-bolder {
  font-weight: bolder;
}

.font-lighter {
  font-weight: lighter;
}

.font-default {
  font-size: 1.6rem;
}

.font-small {
  font-size: 1.2rem;
}

.font-medium {
  font-size: 1.4rem;
}

.font-large {
  font-size: 1.8rem;
}

.font-extra-large {
  font-size: 2.4rem;
}

.font-super-large {
  font-size: 2.8rem;
}

.font-mega-large {
  font-size: 3.4rem;
}

@media (min-width: 410px) {
  .text-center-xs {
    text-align: center;
  }
  .text-justify-xs {
    text-align: justify;
  }
  .text-right-xs {
    text-align: right;
  }
  .text-left-xs {
    text-align: left;
  }
  .text-overline-xs {
    text-decoration: overline;
  }
  .text-underline-xs {
    text-decoration: underline;
  }
  .text-linethrough-xs {
    text-decoration: line-through;
  }
  .font-normal-xs {
    font-weight: normal;
  }
  .font-bold-xs {
    font-weight: bold;
  }
  .font-bolder-xs {
    font-weight: bolder;
  }
  .font-lighter-xs {
    font-weight: lighter;
  }
  .font-default-xs {
    font-size: 1.6rem;
  }
  .font-small-xs {
    font-size: 1.2rem;
  }
  .font-medium-xs {
    font-size: 1.4rem;
  }
  .font-large-xs {
    font-size: 1.8rem;
  }
  .font-extra-large-xs {
    font-size: 2.4rem;
  }
  .font-super-large-xs {
    font-size: 2.8rem;
  }
  .font-mega-large-xs {
    font-size: 3.4rem;
  }
}

@media (min-width: 576px) {
  .text-center-sm {
    text-align: center;
  }
  .text-justify-sm {
    text-align: justify;
  }
  .text-right-sm {
    text-align: right;
  }
  .text-left-sm {
    text-align: left;
  }
  .text-overline-sm {
    text-decoration: overline;
  }
  .text-underline-sm {
    text-decoration: underline;
  }
  .text-linethrough-sm {
    text-decoration: line-through;
  }
  .font-normal-sm {
    font-weight: normal;
  }
  .font-bold-sm {
    font-weight: bold;
  }
  .font-bolder-sm {
    font-weight: bolder;
  }
  .font-lighter-sm {
    font-weight: lighter;
  }
  .font-default-sm {
    font-size: 1.6rem;
  }
  .font-small-sm {
    font-size: 1.2rem;
  }
  .font-medium-sm {
    font-size: 1.4rem;
  }
  .font-large-sm {
    font-size: 1.8rem;
  }
  .font-extra-large-sm {
    font-size: 2.4rem;
  }
  .font-super-large-sm {
    font-size: 2.8rem;
  }
  .font-mega-large-sm {
    font-size: 3.4rem;
  }
}

@media (min-width: 768px) {
  .text-center-md {
    text-align: center;
  }
  .text-justify-md {
    text-align: justify;
  }
  .text-right-md {
    text-align: right;
  }
  .text-left-md {
    text-align: left;
  }
  .text-overline-md {
    text-decoration: overline;
  }
  .text-underline-md {
    text-decoration: underline;
  }
  .text-linethrough-md {
    text-decoration: line-through;
  }
  .font-normal-md {
    font-weight: normal;
  }
  .font-bold-md {
    font-weight: bold;
  }
  .font-bolder-md {
    font-weight: bolder;
  }
  .font-lighter-md {
    font-weight: lighter;
  }
  .font-default-md {
    font-size: 1.6rem;
  }
  .font-small-md {
    font-size: 1.2rem;
  }
  .font-medium-md {
    font-size: 1.4rem;
  }
  .font-large-md {
    font-size: 1.8rem;
  }
  .font-extra-large-md {
    font-size: 2.4rem;
  }
  .font-super-large-md {
    font-size: 2.8rem;
  }
  .font-mega-large-md {
    font-size: 3.4rem;
  }
}

@media (min-width: 992px) {
  .text-center-lg {
    text-align: center;
  }
  .text-justify-lg {
    text-align: justify;
  }
  .text-right-lg {
    text-align: right;
  }
  .text-left-lg {
    text-align: left;
  }
  .text-overline-lg {
    text-decoration: overline;
  }
  .text-underline-lg {
    text-decoration: underline;
  }
  .text-linethrough-lg {
    text-decoration: line-through;
  }
  .font-normal-lg {
    font-weight: normal;
  }
  .font-bold-lg {
    font-weight: bold;
  }
  .font-bolder-lg {
    font-weight: bolder;
  }
  .font-lighter-lg {
    font-weight: lighter;
  }
  .font-default-lg {
    font-size: 1.6rem;
  }
  .font-small-lg {
    font-size: 1.2rem;
  }
  .font-medium-lg {
    font-size: 1.4rem;
  }
  .font-large-lg {
    font-size: 1.8rem;
  }
  .font-extra-large-lg {
    font-size: 2.4rem;
  }
  .font-super-large-lg {
    font-size: 2.8rem;
  }
  .font-mega-large-lg {
    font-size: 3.4rem;
  }
}

@media (min-width: 1200px) {
  .text-center-xl {
    text-align: center;
  }
  .text-justify-xl {
    text-align: justify;
  }
  .text-right-xl {
    text-align: right;
  }
  .text-left-xl {
    text-align: left;
  }
  .text-overline-xl {
    text-decoration: overline;
  }
  .text-underline-xl {
    text-decoration: underline;
  }
  .text-linethrough-xl {
    text-decoration: line-through;
  }
  .font-normal-xl {
    font-weight: normal;
  }
  .font-bold-xl {
    font-weight: bold;
  }
  .font-bolder-xl {
    font-weight: bolder;
  }
  .font-lighter-xl {
    font-weight: lighter;
  }
  .font-default-xl {
    font-size: 1.6rem;
  }
  .font-small-xl {
    font-size: 1.2rem;
  }
  .font-medium-xl {
    font-size: 1.4rem;
  }
  .font-large-xl {
    font-size: 1.8rem;
  }
  .font-extra-large-xl {
    font-size: 2.4rem;
  }
  .font-super-large-xl {
    font-size: 2.8rem;
  }
  .font-mega-large-xl {
    font-size: 3.4rem;
  }
}

/*--------------------------------------------------
  List
--------------------------------------------------*/
.list {
  list-style-type: none;
}

.list.is-disc {
  list-style-type: disc;
}

.list.is-square {
  list-style-type: square;
}

.list.is-circle {
  list-style-type: circle;
}

/*--------------------------------------------------
  Color
--------------------------------------------------*/
.color-primary {
  color: #263238;
}

.color-secondary {
  color: #37474F;
}

.color-success {
  color: #4CAF50;
}

.color-info {
  color: #00BCD4;
}

.color-warning {
  color: #FF9800;
}

.color-danger {
  color: #F44336;
}

.color-light {
  color: #FAFAFA;
}

.color-dark {
  color: #212121;
}

.color-grey-50 {
  color: #FAFAFA;
}

.color-grey-100 {
  color: #F5F5F5;
}

.color-grey-200 {
  color: #EEEEEE;
}

.color-grey-300 {
  color: #E0E0E0;
}

.color-grey-400 {
  color: #BDBDBD;
}

.color-grey-500 {
  color: #9E9E9E;
}

.color-grey-600 {
  color: #757575;
}

.color-grey-700 {
  color: #616161;
}

.color-grey-800 {
  color: #424242;
}

.color-grey-900 {
  color: #212121;
}

/*--------------------------------------------------
  Background
--------------------------------------------------*/
.background-primary {
  background-color: #263238;
}

.background-secondary {
  background-color: #37474F;
}

.background-success {
  background-color: #4CAF50;
}

.background-info {
  background-color: #00BCD4;
}

.background-warning {
  background-color: #FF9800;
}

.background-danger {
  background-color: #F44336;
}

.background-light {
  background-color: #FAFAFA;
}

.background-dark {
  background-color: #212121;
}

.background-grey-50 {
  background-color: #FAFAFA;
}

.background-grey-100 {
  background-color: #F5F5F5;
}

.background-grey-200 {
  background-color: #EEEEEE;
}

.background-grey-300 {
  background-color: #E0E0E0;
}

.background-grey-400 {
  background-color: #BDBDBD;
}

.background-grey-500 {
  background-color: #9E9E9E;
}

.background-grey-600 {
  background-color: #757575;
}

.background-grey-700 {
  background-color: #616161;
}

.background-grey-800 {
  background-color: #424242;
}

.background-grey-900 {
  background-color: #212121;
}

/*--------------------------------------------------
  Overflow
--------------------------------------------------*/
.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-visible {
  overflow-y: visible;
}

/*--------------------------------------------------
  Image
--------------------------------------------------*/
.image-fluid {
  max-width: 100%;
}

.image-crispt {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
/*# sourceMappingURL=utility.css.map */