// Monstar Template
// Scalable and Maintainable Architecture.
//
// Author:   Monstar Lab Cebu
// Website:  http://freemight.com/
// URL:      https://github.com/jackryanoracoy/monstar-template
// License:  https://github.com/jackryanoracoy/monstar-template/blob/master/LICENSE.txt

/*--------------------------------------------------
  List
--------------------------------------------------*/

.list {
  list-style-type: none;

  &.is-disc { list-style-type: disc; }
  &.is-square { list-style-type: square; }
  &.is-circle { list-style-type: circle; }
}
