// Monstar Template
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/monstar-template
// License:  https://github.com/jackryanoracoy/monstar-template/blob/master/LICENSE.txt

/*--------------------------------------------------
  Margin
--------------------------------------------------*/

.mat-5 { margin-top: 5px; }
.mat-10 { margin-top: 10px; }
.mat-20 { margin-top: 20px; }
.mat-30 { margin-top: 30px; }
.mat-40 { margin-top: 40px; }
.mat-50 { margin-top: 50px; }
.mat-60 { margin-top: 60px; }
.mat-70 { margin-top: 70px; }
.mat-80 { margin-top: 80px; }
.mat-90 { margin-top: 90px; }
.mat-100 { margin-top: 100px; }

.mab-5 { margin-bottom: 5px; }
.mab-10 { margin-bottom: 10px; }
.mab-20 { margin-bottom: 20px; }
.mab-30 { margin-bottom: 30px; }
.mab-40 { margin-bottom: 40px; }
.mab-50 { margin-bottom: 50px; }
.mab-60 { margin-bottom: 60px; }
.mab-70 { margin-bottom: 70px; }
.mab-80 { margin-bottom: 80px; }
.mab-90 { margin-bottom: 90px; }
.mab-100 { margin-bottom: 100px; }

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-min($breakpoint) {

    .mat-#{$breakpoint}-0 { margin-top: 0; }
    .mat-#{$breakpoint}-5 { margin-top: 5px; }
    .mat-#{$breakpoint}-10 { margin-top: 10px; }
    .mat-#{$breakpoint}-20 { margin-top: 20px; }
    .mat-#{$breakpoint}-30 { margin-top: 30px; }
    .mat-#{$breakpoint}-40 { margin-top: 40px; }
    .mat-#{$breakpoint}-50 { margin-top: 50px; }
    .mat-#{$breakpoint}-60 { margin-top: 60px; }
    .mat-#{$breakpoint}-70 { margin-top: 70px; }
    .mat-#{$breakpoint}-80 { margin-top: 80px; }
    .mat-#{$breakpoint}-90 { margin-top: 90px; }
    .mat-#{$breakpoint}-100 { margin-top: 100px; }

    .mab-#{$breakpoint}-0 { margin-bottom: 0; }
    .mab-#{$breakpoint}-5 { margin-bottom: 5px; }
    .mab-#{$breakpoint}-10 { margin-bottom: 10px; }
    .mab-#{$breakpoint}-20 { margin-bottom: 20px; }
    .mab-#{$breakpoint}-30 { margin-bottom: 30px; }
    .mab-#{$breakpoint}-40 { margin-bottom: 40px; }
    .mab-#{$breakpoint}-50 { margin-bottom: 50px; }
    .mab-#{$breakpoint}-60 { margin-bottom: 60px; }
    .mab-#{$breakpoint}-70 { margin-bottom: 70px; }
    .mab-#{$breakpoint}-80 { margin-bottom: 80px; }
    .mab-#{$breakpoint}-90 { margin-bottom: 90px; }
    .mab-#{$breakpoint}-100 { margin-bottom: 100px; }
  }
}
